<div class="card animacion fadeIn">
  <div class="card-content">
    <div class="card-header">
      <h5 class="card-title">FORM {{ user.id > 0 ? "UPDATE" : "CREATE" }}</h5>
      <!-- <button
        (click)="onOpenClose()"
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button> -->
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
        <div>
          <input
            placeholder="Name"
            name="name"
            [(ngModel)]="user.name"
            class="form-control my-2"
            required
            #name="ngModel"
          />
          @if (name.invalid && (name.dirty || name.touched)) { @if
          (name.errors!['required']) {
          <div class="text-danger">Nombre es requerido</div>
          } }
        </div>
        <div>
          <input
            placeholder="Lastname"
            name="lastname"
            [(ngModel)]="user.lastname"
            class="form-control my-2"
            required
            #lastname="ngModel"
          />
          @if (lastname.invalid && (lastname.dirty || lastname.touched)) { @if
          (lastname.errors!['required']) {
          <div class="text-danger">Apellido es requerido</div>
          } }
        </div>
        <div>
          <input
            placeholder="Email"
            name="email"
            [(ngModel)]="user.email"
            class="form-control my-2"
            type="email"
            required
            email
            #email="ngModel"
          />
          @if (email.invalid && (email.dirty || email.touched)) { @if
          (email.errors!['required']) {
          <div class="text-danger">Email es requerido</div>
          } @if (email.errors!['email']) {
          <div class="text-danger">No es formato correcto</div>
          } }
        </div>
        <div>
          <input
            placeholder="Username"
            name="username"
            [(ngModel)]="user.username"
            class="form-control my-2"
            required
            minlength="8"
            #username="ngModel"
          />
          @if (username.invalid && (username.dirty || username.touched)) { @if
          (username.errors!['required']) {
          <div class="text-danger">username es requerido</div>
          } @if (username.errors!['minlength']) {
          <div class="text-danger">Almenos 8 caracteres</div>
          } }
        </div>
        <div>
          <input
            placeholder="Password"
            name="password"
            type="password"
            [(ngModel)]="user.password"
            class="form-control my-2"
            required
            minlength="8"
            #password="ngModel"
          />
          @if (password.invalid && (password.dirty || password.touched)) { @if
          (password.errors!['required']) {
          <div class="text-danger">password es requerido</div>
          } @if (password.errors!['minlength']) {
          <div class="text-danger">Almenos 8 caracteres</div>
          } }
        </div>

        <div>
          <button
            type="submit"
            class="btn btn-primary my-2"
            [disabled]="userForm.invalid"
          >
            {{ user.id > 0 ? "UPDATE" : "CREATE" }}
          </button>
          <button
            type="button"
            class="btn btn-secondary my-2 m-2"
            (click)="onClear(userForm)"
          >
            CLEAR
          </button>
        </div>
      </form>
    </div>
    <!-- <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
        (click)="onOpenClose()"
      >
        Close
      </button>
    </div> -->
  </div>
</div>
